@model IEnumerable<DashBoard.Models.CommunityViewModel>
<p>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <h1>
        The Communities page.
    </h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
    <div>
        <table style="width:100%">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Sub-Area</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
                @foreach (var community in Model)
                {
            <tr>
                <td>@community.Id</td>
                <td>@community.Name</td>
                <td>@community.SubArea</td>
                <td><a asp-action="Details" asp-route-communityId="@community.Id">Details</a></td>
                <td><a asp-action="Delete" asp-route-id="@community.Id">Delete</a></td>
            </tr>
                }
        </table>
    </div>
</p>