@model IEnumerable<DashBoard.Models.Region>
<p>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <h1>
        The regions page.
    </h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <table style="width:100%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Sections</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var region in Model)
        {
            <tr>
                <td>@region.Id</td>
                <td>@region.Name</td>
                <td><a asp-action="Sections" asp-route-id="@region.Id">Sections</a></td>
                <td><a asp-action="Edit" asp-route-id="@region.Id">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@region.Id">Delete</a></td>
            </tr>
        }
    </table>
</div>
</p>