@model MemberViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = $"Edit Member - {Model.Name}";
}
<h2>Edit Member</h2>
<form asp-action="Edit" method="post" asp-controller="Members">
    <div asp-validation-summary="All"></div>
    <table>
        <tr>
            <td><label asp-for="Name"></label></td>
            <td><input asp-for="Name" value="@Model.Name" /></td>
            <td><span asp-validation-for="Name"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email" value="@Model.Email" /></td>
            <td><span asp-validation-for="Email"></span></td>
        </tr>
        <tr>
            <td><label asp-for="PhoneNumber1"></label></td>
            <td><input asp-for="PhoneNumber1" value="@Model.PhoneNumber1" /></td>
            <td><span asp-validation-for="PhoneNumber1"></span></td>
        </tr>
        <tr>
            <td><label asp-for="PhoneNumber2"></label></td>
            <td><input asp-for="PhoneNumber2" value="@Model.PhoneNumber2" /></td>
            <td><span asp-validation-for="PhoneNumber2"></span></td>
        </tr>
        <tr>
            <td><label asp-for="IsAssociationMember"></label></td>
            <td><input type="checkbox" asp-for="IsAssociationMember" value="@Model.IsAssociationMember" /></td>
        </tr>
        <tr><td><input type="hidden" asp-for="Id" value=@Model.Id /></td></tr>
        <tr><td><input type="hidden" asp-for="ApartmentId" value=@Model.ApartmentId /></td></tr>
    </table>
    <input type="submit" value="Save" />
</form>
<div>
    <a asp-action="Index" asp-controller="Members" asp-route-communityId="@Model.ApartmentId">Back to members</a>
</div>
